*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.first-menu{
  margin: 0 10% auto;

}

.bg-menu{
  width: 100%;
  height: 80px;
  background-color: lightgrey;
  border-bottom: 3px solid black;
}

.language{
  padding-right: 20px;
  border-right: 1px solid black;
  display: inline-block;
}

.us{
  padding-left: 20px;
  display: inline-block;
}

.btns{
  display: inline-block;
  float: right;
}

#login{
  padding: 6px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  color: red;
  margin-left: 15px;
}

#free{
  padding: 6px;

  margin-left: 15px;
}

.btn{
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.second-menu{
  margin: 0 10% auto;
}

.language{
  display: inline-block;
  vertical-align: middle;
}

.us{
  vertical-align: middle;

}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo{
  display: inline-block;
}

nav{
  float: right;
}


nav ul li{
  display: inline-block;
  padding-right: 15px;
  line-height: 2;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.jumbo-bg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: 50%, 50%;
  height: 562px;
  background-image: url("img/jumbotron.png");
}

.jumbo-txt{
  width: 40%;
  margin: 0 10% auto;
  padding-top: 40px;
}

.jumbo-txt h1{
  font-size: 50px;
}

.jumbo-txt p{
  padding-top: 20px;
  line-height: 1.8;
  font-size: 17px;
  padding-bottom: 20px;
}

.jumbo-txt button{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
}

section{
  width: 100%;
  height: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

main{
  margin: 0 10% auto;
}

.main-logo{
  margin: 5% 20% auto;
  text-align: center;
}

.main-logo h1{
  margin-bottom: 40px;
}

.main-logo p{
  line-height: 2;
  text-align: center;
}

.row-1{
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid grey;
}

.row-1:after{
  content: '';
  clear: both;
  display: table;
}

.row-1 .col-20{
 margin-left: 100px;
 margin-right: 100px;
 width: 20%;
}

.row-1 .col-20 button, .row-2 .col-33 button{
  margin-top: 20px;
  padding: 25px;
  width: 165px;
  text-align: center;
}

.row-1 .col-50{
  width: 50%;
}

.row-1 .col-50 p{
  display: inline-block;
  text-transform: uppercase;
}

.row-1 .col-50 span{
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
}

.border{
  margin-left: 100px;
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid black
}

.check{
  margin-top: -20px;
  display: inline-block;
  text-align: center;
}

.fa-check-cirle{
  color: red;
  background-color: red;
  border: 0px;
  border-radius: 40%;
}

.check i, span{

}

div[class^="col-"]{
  float: left;
}

.row-2:after{
  content: '';
  clear: both;
  display: table;
}

.row-2{
  padding-top: 50px;
  padding-bottom: 50px;
}

.col-33{
  width: calc(100% * (1/3) - (20px));
  margin-right: 30px;
}

.col-33:last-child{
  margin-right: 0;
}

.col-img{
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
}

div[class^=col-txt]{
  padding: 40px;
  text-align: center;
}

.col-txt h2{
  padding-top: 30px;
  padding-bottom: 30px;
}

.col-txt hr{
  height: 3px;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: grey;
}

.col-txt ul{
  text-align: left;
  margin-bottom: 60px;
}

.col-txt ul li{
  line-height: 1.2;
}

.col-txt ul li i{
  padding-right: 20px;
}

.col-33{
  border: 1px solid black;
}
